# -------------------------
# 🔧 PostgreSQL Configuration
# -------------------------

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# -------------------------------
# 🗄 Application Database Access
# -------------------------------

DB_HOST=postgres
DB_PORT=5432
DB_USER=$POSTGRES_USER
DB_PASSWORD=$POSTGRES_PASSWORD
DB_NAME=$POSTGRES_DB


# -------------------------
# 👤 Django Admin
# -------------------------

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin

# -------------------------
# 🔐 42 API OAuth2
# -------------------------

CLIENT_ID=your-42-client-id
CLIENT_SECRET=your-42-client-secret
LOC_IP={loc_ip}
API_URL={api_url}
BASE_URL={base_url}

# -------------------------
# 🌐 Django Configuration
# -------------------------

JWT_SECRET_KEY={jwt_secret_key}