
#avatar-body {
    height: 100vh;
    background-image: url('../public/another_avatar_bg_flipped.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#app-child-avatar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: url('../public/another_avatar_bg_flipped.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

}


#own-avatar {
    background-color: rgb(240, 248, 255, 0.7);

}

.avatar-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.avatar-item {
    border: 2px solid transparent;
    border-radius: 50%;
    display: block;
    width: fit-content;
    transition: border-color 0.3s;
    aspect-ratio: 1/1;
}

.avatar-item img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.avatar-item:hover {
    cursor: grab;
    border-color: #0d6efd;
    /* Bootstrap primary color */
}

#avatar-btn {
    justify-self: center;
    width: 16vw;
}

.drop-zone {
    justify-self: center;
    align-self: flex-start;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#dropzone_col {
    /* display: grid; */
    /* align-self: flex-start; */
}

.drop-zone img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#circle {
    aspect-ratio: 1/1;
}

#avatar-heading {
    font-weight: 600;
    color: #115;
}

@media screen and (max-height: 750px) and (min-width: 1200px){

    /*new id*/
    #invisible-div {
        display: none;
    }

    /*new id*/
    #own-avatar-h {
        margin-top: 0;
    }

    #avatar-btn {
        margin-top: 0 !important;
    }

    #circle {
        margin: 0 !important;
    }
}

.penguin-cursor button:not(:disabled):not(.disabled) {
    cursor: url('../assets/cursor.cur'), auto;

}